/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  margin-right: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img {
  position: relative;
}

.img div {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  color:red
}