/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  margin-right: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}